* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

main {
    padding: 1rem;
}

.books-section {
    display: flex;
    flex-direction: column;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: 1px solid black;
    padding: 1rem;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
}

#close-form-button {
    position: absolute;
    right: 25px;
    border: none;
    background: none;
    font-size: 1.3rem;
    cursor: pointer;
}

.form-title {
    text-align: center;
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 100%;
}

form input {
    border: 2px solid black;
    width: 100%;
    padding: 0.1rem;
}

#isRead {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

#isRead input {
    width: unset;
}

.isReadCheckbox {
    cursor: pointer;
}

.form-button {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-top: 1rem;
    width: 40%;
    padding: 0.2rem;
    cursor: pointer;
}

/* Add Book Button */
#addBookButton {
    width: 50px;
    background: none;
    border-radius: 50%;
    font-size: 2rem;
}

#addBookButton.hidden  {
    display: none;
}

/* Book Item */
.book-item {
    height: 250px;
    width: 250px;
    border: 1px solid black;
    border-radius: 0.2rem;
}


/* Footer */
footer {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 50%;     
    transform: translate(-50%, -50%);
}

/* Media Queries */
@media screen and (min-width: 769px) {
    
    /* Books Section */
    .books-section {
        flex-direction: row;
    }
}