* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

main {
    padding: 1rem;
}

.books-section {
    display: flex;
    flex-direction: column;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid black;
    padding: 1rem;
    max-width: 500px;
    margin: 0 auto;
}

.form-title {
    text-align: center;
}

.form-item {
    display: flex;
    gap: 1rem;
}

form input {
    border: 2px solid black;
    width: 100%;
    padding: 0.1rem;
}

button {
    margin-top: 1rem;
}

footer {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 50%;     
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 769px) {
    
    /* Books Section */
    .books-section {
        flex-direction: row;
    }
}